.dashboard{
    padding: 5px;
    margin-left:20px;
    justify-content: center;
    .title{
        margin-left: 20px;
        font-size: medium;
    }
}
.container{
    display: grid;
    grid-template-columns: 20% auto auto 20%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100px;
}

.chart-temp{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    width: 90%;
    justify-content: center;
    font-weight: 500;
    .temp{
        display: grid;
        grid-column: auto;
        height: 250px;
    }
}

.chart-humid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    width: 90%;
    font-weight: 500;
    justify-content: center;
    .humid{
        display: grid;
        grid-column: auto;
        height: 250px;        
    }
}

.widget{
    display: grid;
    width: 180px;
    height: 60px;
    text-align: center;
}

span{
    font-weight: 600;
}

.time{
    display: grid;
    align-self: center;
    justify-content: center;
    font-weight: 600;
}

.report{
        justify-content: center;
    align-self: center;
}
// .chart{
//     margin:0;
//     width: 100%;
//     height: 20%;
// }